<?xml version="1.0" encoding="utf-8"?>

<launch> 

  <!-- Launch sim and rviz -->
  <include file="$(find sofa_valid)/launch/sim.launch">
      <arg 
        name="model_name" 
        value="flat_model_circles"/>
      <arg 
        name="param_file" 
        value="/config/video_9971.yaml" />
  </include>
    
</launch>
